div.row-cards {
  margin: 0;
}

div.search-card-class{
  text-align: left;
  margin-left: 5%;

}

p.result{
  margin-left: 2%;
  text-align: left;
  color: #3DBA91;
  font-weight: bold;
  display: inline-block;
}

p.comp{
  text-align: left;
  color: gray;
  display: inline-block;
  margin-left: 0.5%;
}
